/* typography */
h1, h2, h3, h4, h5 {padding:0; margin: .5em !important; line-height:1em; color: #d4d6d8;}
h1, h2, h3, h4, h5, .card-header {border-bottom: 1px solid #eda9fc;}
.card-header {color: #d4d6d8;}


html, body, #app-container, #dashbaord-container, .card  {background-color: #242d3c; color: #d4d6d8}

.leaflet-container {
    height: 50em;
    width:100%;
}

@media screen and (max-width: 699px) {
    #map-container {
        width: 96%;
    }
}

#map-container .fa-crosshairs {
    display: none; /** hack - disable **/
    position: relative;
    top: 40px;
    left: 95%;
    z-index: 1000;
    cursor: pointer;
    color: black;
}

.filter-right label {width: 100%; margin:2px}
.filter-right .Select {width: 100%; margin:2px}

.hoverinfo {
  position: fixed;
  z-index: 500;
  opacity: .94;
  color: black;
  padding: 20px;
  border-radius: 5px;
  min-height: 50px;
  background-color: #f6e4e4;
  box-shadow: 1px 1px 3px grey;
}

.neighborhoods_path:hover {
    fill: #bfc3c9;
    fill-opacity:.6;
}
