/* typography */
h1, h2, h3, h4, h5 {padding:0; margin: .5em !important; line-height:1em; color: #d4d6d8;}
h1, h2, h3, h4, h5, .card-header {border-bottom: 1px solid #eda9fc;}
.card-header {color: #d4d6d8;}

h1 {margin-right:0}

html, body, #app-container, #dashbaord-container, .card  {background-color: #242d3c; color: #d4d6d8; font-size:1.1em;}
/** App Skin**/
.social-logos {
  text-align:right;
}

.social-logos a {
  margin-top:2em;
  color: #c6b4b4;
}

.title-info {
    float:right;
    color: #c6b4b4;
}

.interra-icon-white {
    height: 1em;
    margin-left: 1em;
    margin-bottom: .5em;
}

.doHover {
    cursor: pointer;
}


/** MAPS **/
.leaflet-container {
    height: 50em;
    width:100%;
}

/* Info Modal */
.ReactModal__Overlay {
    z-index: 1000;
}

.info-window-open #map-container {
    display: none;
}

.info-window-inner {
    margin: 1em;
    overflow: auto;
    font-size: 1.5em;
}

.close-modal {
    font-weight: 800;
    color: red;
    position: absolute;
    top: 10px;
}

@media screen and (max-width: 699px) {
    #map-container {
        width: 96%;
    }
}

#map-container .fa-crosshairs {
    display: none; /** hack - disable **/
    position: relative;
    top: 40px;
    left: 95%;
    z-index: 1000;
    cursor: pointer;
    color: black;
}

/* Autocomplete filter for request type */
.filter-right {z-index:500}
.filter-right label {width: 100%; margin:2px;}
.filter-right .Select {width: 100%; margin:2px}

.hoverinfo {
  position: fixed;
  z-index: 500;
  opacity: .94;
  color: black;
  padding: 20px;
  border-radius: 5px;
  min-height: 50px;
  background-color: #f6e4e4;
  box-shadow: 1px 1px 3px grey;
}

.neighborhoods_path:hover {
    fill: #bfc3c9;
    fill-opacity:.6;
}   

div.react-table[style] {
    display: none !important;
    font-size: 1.4em !important;
    margin: auto !important;
    background-color: #552e2e !important;
}

#region-3 .card-content .rt-even {
    background-color: #e9dfeb;
}

#region-3 .card-content .rt-odd {
    background-color: #d1c6d0;
}

/* Choropleth legend component styles */
.choropleth-legend .legend-row {display: inline-block; width:100%; height:2em}
.choropleth-legend .legend-row .color-chip {height:1.2em; width:1.2em; display:inline-block; margin-right:1em}
.choropleth-legend .legend-row .val-container {font-size:1.2em; margin-right:1.5em;}

/* React Table */
div.ReactTable {background-color:white; color:black; font-size:1.2em}
