.leaflet-container {
    height:400px;
    width:100%;
}

#map-container .fa-crosshairs {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
    cursor: pointer;
}

.neighborhoods_path:hover {
    fill: darkturquoise
}
