/* typography */
h1, h2, h3, h4, h5 {
  margin: .5em !important;
  line-height: 1em;
  color: #d4d6d8; }

h1, h2, h3, h4, h5, .region-title h2, .card-header {
  border-bottom: 1px solid #eda9fc;
  text-align: center; }

.card-header {
  color: #d4d6d8; }

html, body, #app-container, #dashbaord-container, .card {
  background-color: #242d3c;
  color: #d4d6d8;
  font-size: 1.1em; }

/** App Skin**/
.social-logos {
  text-align: right; }

.social-logos a {
  margin-top: 2em;
  color: #c6b4b4; }

.title-info {
  float: right;
  color: #c6b4b4; }

.interra-icon-white {
  height: 1em;
  margin-left: 1em;
  margin-bottom: .5em; }

.doHover {
  cursor: pointer; }

/** MAPS **/
.leaflet-container {
  height: 80em;
  width: 100%; }

div.leaflet-popup, div.leaflet-popup-content {
  z-index: 900; }

/* Info Modal */
.ReactModal__Overlay {
  z-index: 1000;
  text-align: center; }

.info-window-open #map-container {
  display: none; }

.info-window-content {
  border-bottom: none; }

.info-window-content .lead {
  padding: 1em 0; }

.info-row {
  margin-bottom: 3em; }

.info-row img {
  height: 10em;
  margin-top: 2em; }

.info-row .indent {
  margin-left: 4.5em; }

.bd-pageheader {
  background-color: black;
  color: white; }

.info-window-inner {
  margin: 1em;
  overflow: auto;
  font-size: 1.5em; }

.close-modal {
  font-weight: 800;
  color: red;
  position: absolute;
  left: 10px; }

@media screen and (max-width: 699px) {
  #map-container {
    width: 96%; } }

#map-container .fa-crosshairs {
  position: relative;
  top: 40px;
  left: 95%;
  z-index: 1000;
  cursor: pointer;
  color: black; }

.leaflet-bottom {
  z-index: 400; }

.leaflet-top {
  z-index: 400; }

.hoverinfo {
  position: fixed;
  z-index: 500;
  opacity: .94;
  color: black;
  padding: 20px;
  border-radius: 5px;
  min-height: 50px;
  background-color: #f6e4e4;
  box-shadow: 1px 1px 3px grey; }

.warning {
  background: #fda921;
  padding: 1em;
  border: 1px dashed; }

.neighborhoods_path:hover {
  fill: #bfc3c9;
  fill-opacity: .6; }

.neighborhoods_path[fill="red"]:hover {
  fill: #bc1105; }

div.react-table[style] {
  display: none !important;
  font-size: 1.4em !important;
  margin: auto !important;
  background-color: #552e2e !important; }

.other-311-requests {
  text-align: center;
  margin-top: 2em; }

#region-00 .region-title {
  margin-top: 1.7em !important; }

#region-3 .card-content .rt-even {
  background-color: #e9dfeb; }

#region-3 .card-content .rt-odd {
  background-color: #d1c6d0; }

/* outstanding requests popups */
ul.outstanding-popup {
  list-style: none;
  padding: 0;
  width: 100%; }

ul.outstanding-popup p {
  vertical-align: top; }

div.leaflet-popup-content-wrapper, .leaflet-popup-tip-container .leaflet-popup-tip {
  background: rgba(63, 74, 91, 0.8); }

div.leaflet-popup-content-wrapper p {
  color: #d0ddf2;
  margin: 0;
  font-size: 1.2em; }

div.leaflet-popup-content-wrapper p:first-child {
  font-weight: 800; }

div.leaflet-popup-content-wrapper ul li {
  margin-bottom: 1em; }

/* Toolbar */
.toolbar-icon {
  width: 50px;
  height: 40px;
  background-position: 5px;
  margin-left: 1em;
  margin-bottom: 3px; }

.toolbar-icon--enabled {
  border: 1px yellow dotted; }

#filters .autocomplete-filter-container {
  width: 55%;
  float: right;
  margin-top: 1em;
  z-index: 500; }

#toolbar-calendar {
  margin-top: 1em; }

#toolbar-search {
  margin-top: 1em; }

/* Choropleth legend component styles */
.choropleth-legend {
  font-size: 1em;
  background-color: white;
  opacity: .9;
  color: black;
  padding: 1em;
  width: 12em;
  position: absolute;
  z-index: 440;
  top: 12%;
  left: 5%; }

.choropleth-legend .legend-row {
  display: inline-block;
  width: 100%;
  height: 2em; }

.choropleth-legend .legend-row .color-chip {
  height: 1.2em;
  width: 1.2em;
  display: inline-block;
  margin-right: 1em; }

.choropleth-legend .legend-row .val-container {
  font-size: 1.2em;
  margin-right: 1.5em; }

/* React Table */
div.ReactTable {
  background-color: white;
  color: black;
  font-size: 1.2em; }

/* Pie chart */
#region-1 .nv-legend text {
  fill: white !important; }

.nvtooltip {
  color: white;
  font-size: 2em;
  z-index: 600;
  padding: 1em; }

.nvtooltip table {
  background-color: white;
  color: blue;
  font-weight: 900;
  opacity: .65;
  margin-right: 2em;
  z-index: 501; }

.nvtooltip table td {
  padding: 1em; }

/* g.nv-pieWrap {transform: translate(20px,-80px)} */
/* Discrete bar charts */
#topmatter {
  font-size: 1.25em;
  padding: 1.5em; }

.discrete canvas {
  margin-left: -40px; }
